.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--darkgrey);
}

.navbar img {
  width: 80px;
}

.navMenu {
  display: flex;
}

.navItems {
  padding: 1rem;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .navMenu {
    position: fixed;

    z-index: 9999;
    left: -100%;
    top: 100px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darkgrey);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
  }

  .navMenu.active {
    left: 0;
  }

  .navItems {
    margin: 1.5rem;
    font-size: 1.8rem;
    justify-content: ;
  }

  .hamburger {
    display: flex;
  }
}
